html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-size: cover;
  background-attachment: fixed;

  @media (min-width: 560px) {
    font-size: 18px;
  }
}

.wrapper {
  width: 92%;
  opacity: 0;
  -webkit-animation: fadein 4s 0.6s forwards;
  animation: fadein 4s 0.6s forwards;
  margin: 0 auto;

}

.intro {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);

  h1 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 48px;
    line-height: 56px;
    max-width: 800px;
    margin: 1em auto 2.2em;

    @media (max-width: 800px) {
      font-size: 38px;
      line-height: 46px;
    }

    @media (max-width: 800px) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .name {
    display: inline-block;
    padding: .75em 2em 0;
    margin: 1em 0 0;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    font-weight: 700;


    .title {
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: .6em;
      margin: 10px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

a,
a:visited {
  color: #3A1E0D;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }



.blocks {
  margin: 0 auto;

  li {
    margin: auto;
    display: block;
    padding: 1.2em 1.5em;
    @media (max-width: 440px) { padding: .8em 1em; }
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.35);
    max-width: 560px;
    border-radius: 2px;
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.35);
  }

  p,
  ul {
    margin: 0 auto;
    line-height: 1.6em;
    color: #404040;
    text-align: left;
    font-weight: 300; }

  p {
    color: #1a1a1a;

    @media (min-width: 440px) {
      color: #0a0a0a;
    }
  }
  strong {
    font-weight: 700;
    color: #424254;
  }
}


blockquote {
  font-size: .85em;

  &:last-child {
    margin-bottom: 0;
  }

  p {

    a {
      text-decoration: underline;
      color: #404040;

      a:hover {
        text-decoration: none;
      }

      span {
        display: block;
        line-height: 1.4em;
      }
    }

    @media (min-width: 560px) {
      text-align: justify;
    }
  }

  img {
    opacity: 0.8;
    border-radius: 100%;
    float: left;
    margin-right: 1em;
    width: 48px;
  }

  .name {
    font-weight: 700;
    font-style: italic;
    color: #351330;
    padding-top: 5px;
  }

  .title {
    font-weight: 300;
    color: #715E52;
  }

  footer {
    font-weight: 700;
    margin-top: 1em;
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
      span {
        display: block;
      }
    }
  }
}


.footprint {
  margin: 2em 0 3em;

  ul {
    text-align: center;

    li {
      display: inline-block;

      @media (max-width: 450px) {
        &.hide-mobile { display: none; }
      }

      a {
        color: #351330;
        display: inline-block;
        font-size: 15px;
        padding: .4em .6em;
        margin: 0 .2em;
        border-radius: 3px;
        border: 1px solid rgba(53, 19, 48, .7);
        transition: border-color .25s linear, background .25s linear;
        -webkit-transition: border-color .25s linear, background .25s linear;


        &:hover {
          text-decoration: none;
          border-color: none;
          background: rgba(53, 19, 48, .7);
          color: #fff;
        }

        @media (max-width: 500px) {
          border: none;
          background: rgba(53, 19, 48, .7);
          color: #fff;
        }


      }
    }
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}