html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-size: cover;
  background-attachment: fixed;

  @media (min-width: 560px) {
    font-size: 18px;
  }
}

.wrapper {
  opacity: 0;
  -webkit-animation: fadein 4s 0.6s forwards;
  animation: fadein 4s 0.6s forwards;
  margin: 0 auto;
}

.intro {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);

  h1 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 48px;
    line-height: 56px;
    max-width: 800px;
    margin: 2em auto 0;
    padding-bottom: 0;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);

    .no-shadow {
      text-shadow: none;
    }

    @media (max-width: 800px) {
      font-size: 38px;
      line-height: 46px;
    }

    @media (max-width: 800px) {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

a,
a:visited {
  color: #3A1E0D;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }



.blocks {
  width: 92%;
  margin: 6em auto 3em;

  li {
    margin: auto;
    display: block;
    padding: .8em 1em;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.85);
    max-width: 560px;
    border-radius: 2px;
    @media (min-width: 440px) {
      padding: 1.2em 1.5em;
      box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.35);
    }
  }

  p,
  ul {
    margin: 0 auto;
    line-height: 1.6em;
    color: #404040;
    text-align: left;
    font-weight: 300; }

  p {
    color: #1a1a1a;

    @media (min-width: 440px) {
      color: #0a0a0a;
    }
  }
  strong {
    font-style: italic;
    font-weight: 700;
    color: #424254;
  }
}


blockquote {
  font-size: .85em;

  small {
    display: block;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: right;
  }

  &:last-child {
    margin-bottom: 0;
  }

  p {

    a {
      text-decoration: underline;
      color: #404040;

      a:hover {
        text-decoration: none;
      }

      span {
        display: block;
        line-height: 1.4em;
      }
    }

    @media (min-width: 560px) {
      text-align: justify;
    }
  }

  img {
    opacity: .9;
    border-radius: 100%;
    float: left;
    margin-right: 1em;
    width: 48px;
  }

  .name {
    font-weight: 700;
    font-size: 13px;
    color: #424254;
    padding-top: 8px;

    &:hover {
      color: darken(#424254, 10%);
      text-decoration: underline;
    }
  }

  .title {
    font-weight: 300;
    font-size: 13px;
    color: rgba(66, 66, 84, .8);
  }

  footer {
    font-weight: 700;
    margin-top: 1.7em;
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
      span {
        display: block;
      }
    }
  }
}

.button {
  display: block;
  max-width: 320px;
  border: 1px solid #fff;
  color: #fff;
  padding: 1.3em 2em;
  border-radius: 3px;
  margin: 0 auto 2em;
  text-align: center;

  font-size: 12px;
  letter-spacing: 1px;

  &:hover {
    text-decoration: none;
    background: rgba(53, 19, 48, .15);
  }
}


.hide {
  display: none !important;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}